<div class="container" align="center">
    <h1>Create Your Account</h1>
    <form novalidate #registerForm="ngForm" (ngSubmit)="register(registerForm.value)">
        <div class="form-group">
            <md-input-container>
                <input #userName="ngModel" name="userName" ngModel required minlength="3" maxlength="32"
                        mdInput placeholder="username"
                        type="text" class="form-control"/><br>
            </md-input-container>
            <div *ngIf="userName.errors &(userName.dirty || userName.touched)"
                 class="alter alter-danger">
                <div [hidden]="!userName.errors.required">

                </div>
            </div>
        </div>

        <div class="form-group">
            <md-input-container>
                <input mdInput placeholder="password"
                       #userPassword ngModel name="userPassword" minlength="8" maxlength="64"
                       type="password" class="form-control" required />
            </md-input-container>
        </div>
        <div class="form-group">
            <md-input-container>
                <input [(ngModel)]="passwordRepeat" mdInput placeholder="repeat your password"
                       #userPasswordRepeat ngModel name="userPasswordRepeat"
                       type="password" class="form-control"><br>
            </md-input-container>
        </div>
        <div class="form-group">
            <md-input-container>
                <input mdInput placeholder="email"
                       #userEmail="ngModel" ngModel name="userEmail" required
                       type="email" class="form-control" />
            </md-input-container>
        </div>

        <div>
            <button md-raised-button color="primary" type="submit" class="btn btn-success"
                    [disabled]="!registerForm.form.valid">
                register</button>
            <a routerLink="/login" md-button >have a accout?login</a>
        </div>
    </form>
</div>
