<div *ngIf="user" align="center">
    <mat-toolbar  >
        <mat-icon>edit</mat-icon>
        <span align="center">User Self Edit </span>
    </mat-toolbar>
    
    <div>
        <mat-icon >person</mat-icon>
        
        <mat-form-field>
            <input matInput disabled [(ngModel)]=user.userName placeholder="Name">
        </mat-form-field>
    </div>
    
    <div>
        <mat-icon>credit_card</mat-icon>
        <mat-form-field>
            <input matInput disabled [ngModel]="user.userCredit" placeholder="credit">
        </mat-form-field>
    </div>
    
    <div>
        <mat-icon >email</mat-icon>
        
        <mat-form-field>
            <input matInput [(ngModel)]=user.userEmail placeholder="Email">
        </mat-form-field>
    </div>
    
    <div>
        <mat-icon >phone</mat-icon>
        <mat-form-field>
            <input matInput [(ngModel)]=user.userPhone placeholder="Phone">
        </mat-form-field>
    </div>
    
    <div style="float:center" >
        
        <button mat-button (click)="save()" >
            <mat-icon>save</mat-icon>
            Save
        </button>
        
        <button mat-button (click)="goBack()">
            <mat-icon>home</mat-icon>
            Back to Home
        
        </button>
        
        <button mat-button (click)="deleteUser(user.userId)">
            <mat-icon>delete</mat-icon>
            delete account
        </button>
    
    </div>

</div>
