.dynamic-edit {
    width: 70%;
}

.edit-title {
    width: 50%;
}

.edit-desc {
    width: 60%;
    height: auto;
}

.edit-question {
    width: 80%;
}

.edit-question-title {
}

.edit-question-title-input {
    width: 80%;
}

.edit-select {
}

.edit-type-text {
    color: brown;
    font-size: 14px;
}

.alter {
    font-size: 10px;
    color: #c7254e;
    border-radius: 3px;
    padding: 15px;
}
