<div>
    <md-toolbar>
        <button md-raised-button color="primary" [disabled]="formGroup.errors" (click)="saveOrUpdate()">
            <md-icon>save</md-icon>
            Save
        </button>
        <button  md-raised-button color="accent" [disabled]="formGroup.errors" (click)="preview()" >
            <md-icon>visibility</md-icon>
            <label *ngIf="!isPreview">preview</label>
            <label *ngIf="isPreview">back edit</label>
        </button>
        <button md-raised-button color="warn" (click)="reset()">
            <md-icon>refresh</md-icon>
            Reset
        </button>
        <button md-raised-button color="primary" [disabled]="formObject.isPublished" (click)="publish()">
            <md-icon>send</md-icon>
            publish
        </button>
        
        <button md-icon-button (click)="settings()" >
            <md-icon>settings</md-icon>
        </button>
    </md-toolbar>
</div>

<div align="center" *ngIf="!isPreview">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div>
            <div>
                <md-input-container class="edit-title">
                    <input mdInput formControlName="title" [(ngModel)]="formObject.title" placeholder="title">
                </md-input-container>
            </div>
            <div>
                <md-input-container class="edit-desc">
                    <textarea mdInput mdTextareaAutosize formControlName="desc"
                              [(ngModel)]="formObject.desc" placeholder="description"></textarea>
                </md-input-container>
            </div>
            <div *ngIf="formObject.formItems.length === 0">
                <button md-icon-button color="warn" (click)="addQuestion()">
                    <md-icon>add_circle</md-icon>
                    Add Question
                </button>
            </div>
        </div>

        <div>
            <md-card *ngFor="let question of formObject.formItems; trackBy: trackByKey"
                     [formGroupName]="question.key" class="edit-question">
                <md-card-header>
                    <md-card-title>
                        the {{question.order}}th question
                    </md-card-title>
                    <!--
                    <md-card-subtitle>
                        {{question.key}}
                        {{formGroup.get(question.key).value | json}}
                    </md-card-subtitle>
                    -->
                </md-card-header>
                <md-card-content>
                    <div class="edit-question-title">
                        <md-input-container class="edit-question-title-input">
                            <input mdInput formControlName="title-edit"
                                   [value]="question.title" placeholder="put a title">
                        </md-input-container><br>
                    </div><br>

                    <div [ngSwitch]="question.controlType" >
                        <div *ngSwitchCase="'dropdown'" >
                            <button md-icon-button (click)="addOption(question)" >
                                <md-icon>add</md-icon>
                            </button>
                            <md-slide-toggle formControlName="multiple-edit" [(ngModel)]="question.multiple">allow multi select</md-slide-toggle>
                            <div *ngFor="let opt of question?.options; let i = index" formGroupName="options-edit">
                                <md-input-container>
                                    <span mdPrefix >{{i+1}}. </span>
                                    <input mdInput [placeholder]="opt?.key" [value]="opt.value" [formControlName]="opt.key">
                                    <button mdSuffix md-icon-button (click)="delOption(question, i)">
                                        <md-icon>delete</md-icon>
                                    </button>
                                </md-input-container>
                            </div>
                            <div *ngIf="question.multiple">
                                <md-input-container>
                                    <input mdInput placeholder="min Select" formControlName="minSelect-edit">
                                    <md-hint class="alter" *ngIf="formGroup.get(question.key).errors?.noLarger">
                                        min select should not large than max select
                                    </md-hint>
                                </md-input-container>

                                <md-input-container>
                                    <input mdInput placeholder="max Select" formControlName="maxSelect-edit">
                                    <md-hint class="alter" *ngIf="formGroup.get(question.key).errors?.editMaxSelect">
                                        this should not larger than {{question?.options.length}}</md-hint>
                                </md-input-container>

                            </div>
                        </div>

                        <div *ngSwitchCase="'slider'" class="validator number">
                            <md-input-container>
                                <input mdInput formControlName="min-edit"
                                       placeholder="min value">
                            </md-input-container>
                            <md-input-container>
                                <input mdInput formControlName="max-edit"
                                       placeholder="max value">
                            </md-input-container>
                        </div>

                        <div *ngSwitchCase="'textbox'" class="validator textbox">
                            <md-input-container>
                                <input mdInput placeholder="min Length"
                                       formControlName="minLength-edit">
                            </md-input-container>
                            <md-input-container>
                                <input mdInput placeholder="max Length"
                                       formControlName="maxLength-edit">
                            </md-input-container>
                            <md-input-container>
                                <input mdInput placeholder="pattern to match"
                                       formControlName="pattern-edit">
                            </md-input-container>
                        </div>
                    </div>

                    <br>
                    <div class="edit-select">
                        <p class="edit-type-text">question type</p>
                        <md-select formControlName="controlType-edit" [(ngModel)]="question.controlType" (change)="buildQuestion(question)">
                            <md-option *ngFor="let opt of controlTypes" [value]="opt">{{opt}}</md-option>
                        </md-select>
                    </div>
                    <div class="selection-required">
                        <md-slide-toggle color="primary" formControlName="required-edit"
                        >required</md-slide-toggle>
                        <md-slide-toggle color="accent" >extra validator</md-slide-toggle>
                    </div>

                </md-card-content>
                <md-card-actions>
                    <button md-raised-button color="primary" (click)="addQuestion(question)">Add question</button>
                    <button md-raised-button color="warn" (click)="delQuestion(question)">Delete</button>
                </md-card-actions>
            </md-card>
        </div>

        <!--
        <div>
            <p>things from fromObject</p>
            {{formObject | json}}
        </div>
        -->

    </form>
</div>

<div *ngIf="isPreview">
    <dynamic-form [formObject]="formObject" [form]="form"></dynamic-form>
</div>
