<md-toolbar>
    <button md-raised-button color="primary" (click)="save()">
        <md-icon>save</md-icon>
        Save
    </button>
    <button  md-raised-button color="accent" (click)="preview()" >
            <md-icon>visibility</md-icon>
            <label *ngIf="!isPreview">preview</label>
            <label *ngIf="isPreview">back edit</label>
    </button>
    <button md-raised-button color="warn" (click)="reset()">
        <md-icon>refresh</md-icon>Reset</button>
</md-toolbar>
<div align="center" *ngIf="!isPreview">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div>
            <div>
                <md-input-container class="edit-title">
                    <input mdInput formControlName="title" [(ngModel)]="formObject.title" placeholder="title">
                </md-input-container>
            </div>
            <div>
                <md-input-container class="edit-desc">
                    <textarea mdInput mdTextareaAutosize formControlName="desc"
                              [(ngModel)]="formObject.desc" placeholder="description"></textarea>
                </md-input-container>
            </div>
        </div>
        
        <div formGroupName="formItems">
            <md-card *ngFor="let question of formObject.formItems; let i = index"
                     [formGroupName]="question.key" class="edit-question">
                <md-card-header>
                    <md-card-title>
                        the {{question.order}}th question
                    </md-card-title>
                    <md-card-subtitle>
                        {{formGroup.get('formItems').get(question.key).value | json}}
                    </md-card-subtitle>
                </md-card-header>
                <md-card-content>
                    <div class="edit-question-title">
                        <md-input-container class="edit-question-title-input">
                            <input mdInput formControlName="title-edit" [value]="question.title" placeholder="put a title">
                        </md-input-container><br>
                    </div><br>
                    
                    <div class="edit-select">
                        <p class="edit-type-text">question type</p>
                        <md-select formControlName="controlType-edit" #typeTag>
                            <md-option *ngFor="let opt of controlTypes" [value]="opt">{{opt}}</md-option>
                        </md-select>
                    </div>
                </md-card-content>
                <md-card-actions>
                    <button md-raised-button color="primary" (click)="addQuestion(question)">Add question</button>
                    <button md-raised-button color="warn" (click)="delQuestion(question)">Delete</button>
                </md-card-actions>
            </md-card>
        </div>
        
        <div>
            <p>things from fromGroup</p>
            {{formGroup.getRawValue() | json}}
        </div>
    
    </form>
</div>

<div *ngIf="isPreview">
    <dynamic-form [formObject]="formObject" [form]="form"></dynamic-form>
</div>