
<div *ngIf="user" align="center">
    <md-toolbar align="center"   color="warn">
        <md-icon>edit</md-icon>
        <span align="center">Edit UserId </span>
    </md-toolbar>

    <div>
        <span class="badge">Name    </span>
        <input [(ngModel)]="user.userName" placeholder="userName" />
    </div>

    <div>
        <span class="badge">Password    </span>
        <input [(ngModel)]="user.userPassword" />
    </div>

    <div>
        <span class="badge">Email    </span>
        <input [(ngModel)]="user.userEmail" />
    </div>
    <div>
        <span class="badge">Phone    </span>
        <input [(ngModel)]="user.userPhone" />
    </div>


</div>
<div  align="center" >
    <button md-button (click)="save()" (click)="goBack()" >Save</button>
    <button md-button (click)="goBack()">Back</button>
</div>
