button {
    margin-top: 20px;
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer; cursor: hand;
}

.badge  {
    width:1.4cm;
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 200%;
    position: relative;
    left: 1px;
    top: 4px;
    height: 1.8em;
    margin: .1cm;
    border-radius: 4px 4px 4px 4px;
}
