
<div *ngIf="user" align="center">
    <mat-toolbar  >
        <mat-icon>edit</mat-icon>
        <span align="center">User Edit </span>
    </mat-toolbar>
    <div>
        <mat-icon >person</mat-icon>
        <mat-form-field>

            <input matInput [(ngModel)]=user.userName placeholder="Name">

        </mat-form-field>

    </div>

    <div>
        <mat-icon >vpn_key</mat-icon>
        <mat-form-field>
            <input matInput [(ngModel)]=user.userPassword placeholder="Paasword">
        </mat-form-field>
    </div>

    <div>
        <mat-icon >email</mat-icon>
        <mat-form-field>
            <input matInput [(ngModel)]=user.userEmail placeholder="Email">
        </mat-form-field>
    </div>

    <div>
        <mat-icon >phone</mat-icon>
        <mat-form-field>
            <input matInput [(ngModel)]=user.userPhone placeholder="Phone">
        </mat-form-field>
    </div>







    <div style="float:center" >

        <button mat-button (click)="save()" >
            <mat-icon>save</mat-icon>
            Save
        </button>

        <button mat-button (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
            Back
        </button>

    </div>

</div>
