<div align="center">
    <md-toolbar>
        <button md-raised-button color="primary" (click)="save()">
            <md-icon>save</md-icon>
            Save
        </button>
        <button md-raised-button color="accent" (click)="preview()" >
            <md-icon>visibility</md-icon>
            preview
        </button>
        <button md-button color="warn" type="reset">
            <md-icon>refresh</md-icon>Reset</button>
    </md-toolbar>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div>
            <div>
                <md-input-container class="edit-title">
                    <input mdInput formControlName="title" [(ngModel)]="formObject.title" placeholder="title">
                </md-input-container>
            </div>
            <div>
                <md-input-container class="edit-desc">
                    <textarea mdInput mdTextareaAutosize formControlName="desc"
                              [(ngModel)]="formObject.desc" placeholder="description"></textarea>
                </md-input-container>
            </div>
        </div>
        
        <div formGroupName="questions">
            <md-card *ngFor="let question of formObject.questions; let i = index" [formGroupName]="question.key" class="edit-question">
                <md-card-content>
                    <div class="edit-question-title">
                        <md-input-container class="edit-question-title-input">
                            <input mdInput formControlName="title-edit" placeholder="put a title"
                                   [(ngModel)]="formObject.questions[i].title">
                        </md-input-container><br>
                    </div><br>
                    
                    <div class="edit-select">
                        <p class="edit-type-text">question type</p>
                        <md-select formControlName="controlType-edit" [(ngModel)]="formObject.questions[i].controlType">
                            <md-option *ngFor="let opt of controlTypes" [value]="opt">{{opt}}</md-option>
                        </md-select>
                    </div>
                </md-card-content>
                <md-card-actions>
                    <button md-raised-button color="primary" (click)="addQuestion(question)">Add question</button>
                    <button md-raised-button color="warn" (click)="delQuestion(question)">Delete</button>
                </md-card-actions>
            </md-card>
        </div>
        
    </form>
</div>