<md-list>
    <h3 md-subheader>Forms</h3>
    <button md-mini-fab color="primary" (click)="add()" >
        <md-icon>add</md-icon>
    </button>
    <md-list-item *ngFor="let question of questionList">
        <md-icon md-list-icon>mail</md-icon>
        <h3 md-line>{{question.title}}</h3>
        <button md-mini-fab color="accent" (click)="preview(question.formId)">
            <md-icon>mood</md-icon>
        </button>
        <button md-mini-fab color="primary" (click)="edit(question.formId)" >
            <md-icon>edit</md-icon>
        </button>
        <button md-mini-fab color="warn" (click)="delete(question.formId)">
            <md-icon>delete</md-icon>
        </button>
    </md-list-item>
</md-list>