<div>
    <mat-toolbar>
        <button mat-raised-button color="primary" [disabled]="formEditGroup.errors || formEditGroup.pristine" (click)="confirmAndSave()">
            <mat-icon>save</mat-icon>
            Save
        </button>
        
        <button mat-raised-button color="primary" [disabled]="formObject.isPublished || !formObject.formId" (click)="publish()">
            <mat-icon>send</mat-icon>
            publish
        </button>
        
        <div class="toggle-button">
            <button mat-icon-button (click)="settings()" >
                <mat-icon matTooltip="settings">settings</mat-icon>
            </button>
            <mat-slide-toggle color="primary" [disabled]="formEditGroup.errors" [checked]="isPreview" (change)="changeMode($event)">
                Preview Mode
            </mat-slide-toggle>
        </div>
    </mat-toolbar>
</div>

<div *ngIf="!isPreview" class="form-edit">
    <form [formGroup]="formEditGroup" (ngSubmit)="onSubmit()">
        <div class="form-main">
            <div>
                <mat-form-field class="form-title">
                    <input matInput formControlName="title" placeholder="title">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="form-desc">
                    <textarea matInput matTextareaAutosize formControlName="desc"
                              placeholder="description"></textarea>
                </mat-form-field>
            </div>
            <div *ngIf="formObject.formItems.length === 0">
                <button mat-icon-button color="warn" (click)="addQuestion()">
                    <mat-icon>add_circle</mat-icon>
                    Add Question
                </button>
            </div>
        </div>
        
        <div align="center">
            <mat-card *ngFor="let question of formObject.formItems; trackBy: trackByKey"
                     [formGroupName]="question.key" class="form-item-edit">
                <mat-card-header>
                    <mat-card-title>
                        the {{question.order}}th question
                    </mat-card-title>
                </mat-card-header>
                
                <mat-card-content>
                    <div>
                        <mat-form-field class="question-title-edit">
                            <input matInput formControlName="title-edit"
                                   [value]="question.title" placeholder="put a title">
                        </mat-form-field><br>
                    </div>
                    
                    <div *ngIf="question.controlType === 'dropdown'">
                        <button mat-icon-button (click)="addOption(question)" >
                            <mat-icon>add</mat-icon>
                        </button>
    
                        <mat-slide-toggle color="primary" formControlName="multiple-edit">
                            allow multi select
                        </mat-slide-toggle>
                        
                        <button [disabled]="hasOtherOption(question)" mat-icon-button (click)="otherOption(question)"
                            matTooltip="add an other optional selection">
                            <mat-icon color="warn">add</mat-icon>
                        </button>
    
                        <div *ngFor="let opt of question?.options; let i = index" formGroupName="options-edit">
                            <mat-form-field>
                                <span matPrefix >{{i+1}}. </span>
                                <input matInput [placeholder]="opt?.key" [value]="opt.value" [formControlName]="opt.key">
                                <button matSuffix mat-icon-button (click)="delOption(question, i)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                                <mat-hint align="start" *ngIf="opt?.key === 'other'">other optional answer</mat-hint>
                            </mat-form-field>
                        </div>
                        
                    </div>
                    
                    <div [ngSwitch]="question.controlType" [hidden]="!formEditGroup.get(question.key).get('validator-edit').value">
                        <div *ngSwitchCase="'dropdown'" >
                            
                            <div *ngIf="formEditGroup.get(question.key).get('multiple-edit').value">
                                <mat-form-field>
                                    <input matInput placeholder="min Select" formControlName="minSelect-edit">
                                    <mat-hint class="alter"
                                             *ngIf="formEditGroup.get(question.key).errors?.noLarger &&
                                                    formEditGroup.get(question.key).get('maxSelect-edit').value">
                                        min select should not large than max select
                                    </mat-hint>
                                </mat-form-field>
                                
                                <mat-form-field>
                                    <input matInput placeholder="max Select" formControlName="maxSelect-edit">
                                    <mat-hint class="alter" *ngIf="formEditGroup.get(question.key).errors?.editMaxSelect">
                                        this should not larger than {{question?.options.length}}</mat-hint>
                                </mat-form-field>
                            
                            </div>
                        </div>
                        
                        <div *ngSwitchCase="'slider'" class="validator number">
                            <mat-form-field>
                                <input matInput formControlName="min-edit"
                                       placeholder="min value">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput formControlName="max-edit"
                                       placeholder="max value">
                            </mat-form-field>
                        </div>
                        
                        <div *ngSwitchCase="'textbox'" class="validator textbox">
                            <mat-form-field>
                                <input matInput placeholder="min Length"
                                       formControlName="minLength-edit">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="max Length"
                                       formControlName="maxLength-edit">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="pattern to match"
                                       formControlName="pattern-edit">
                            </mat-form-field>
                        </div>
                    </div>
                    
                    <div class="dependency-edit" *ngIf="formEditGroup.get(question.key).get('depends-edit').value">
                        <div formGroupName="dependency-edit">
                            <label> depend on </label>
                            <mat-select formControlName="key">
                                <mat-option *ngFor="let qs of PreviousQuestionKeys(question); index as p"
                                           [value]="qs">{{p+1}}th. {{getQuestionControl(qs)?.get('title-edit').value}}</mat-option>
                            </mat-select>
                            
                            <div *ngIf="getDependQuestionControl(question)?.get('controlType-edit').value === 'dropdown'">
                                <label>which option: </label>
                                <mat-select multiple="true" formControlName="requiredOptions">
                                    <mat-option *ngFor="let op of getDependQuestionOptionKey(question); index as opi"
                                        [value]="op">{{opi + 1}}: {{getDependQuestionOptionValue(question, op)}}</mat-option>
                                </mat-select>
                            </div>
                        </div>
                        
                    </div>
                    
                    <div class="edit-select">
                        <p class="edit-type-selector">question type</p>
                        <mat-select formControlName="controlType-edit" (change)="buildQuestion(question, $event)">
                            <mat-option *ngFor="let opt of controlTypes" [value]="opt">{{opt}}</mat-option>
                        </mat-select>
                    </div>
                    
                    <div class="selection-required">
                        <mat-slide-toggle color="primary" formControlName="required-edit">required</mat-slide-toggle>
                        
                        <mat-slide-toggle color="accent" formControlName="validator-edit">validator</mat-slide-toggle>
                        
                        <mat-slide-toggle color="warn" *ngIf="indexOf(question) > 0 && !isQuestionRequired(question.key)"
                                         formControlName="depends-edit">dependency</mat-slide-toggle>
                    </div>
                
                </mat-card-content>
                
                <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="addQuestion(question)">Add question</button>
                    <button mat-raised-button color="warn" (click)="delQuestion(question)">Delete</button>
                </mat-card-actions>
            </mat-card>
        </div>
        
    </form>
</div>

<div *ngIf="isPreview">
    <app-form-view [formObject]="formObject" [formGroup]="formViewGroup"></app-form-view>
</div>