<div [formGroup]="formGroup">


    <div class="question-title">{{question.title}}</div>
    
    <div [ngSwitch]="question.controlType">

        <div *ngSwitchCase="'textbox'">
            <md-form-field class="textbox-question">
                <textarea mdTextareaAutosize mdInput [formControlName]="question.key"
                          [type]="question.inputType">{{question.value}}</textarea>
            </md-form-field>

            <div class="alter alter-danger" *ngIf="getErrors()">
                <div *ngIf="getErrors()?.required && !getFormControl().pristine" >
                    {{question?.title}} is required
                </div>
                <div *ngIf="getErrors()?.minlength" >
                    {{question?.title}} should not less than {{question.validator.minLength}} bytes
                </div>
                <div *ngIf="getErrors()?.maxlength" >
                    {{question?.title}} should not longer than {{question.validator.maxLength}} bytes
                </div>
                <div *ngIf="getErrors()?.email && !getFormControl().pristine && getFormControl().value?.length > 0" >
                    not a valid email address
                </div>
                <div *ngIf="getErrors()?.pattern && !getFormControl().pristine">
                    {{question?.title}} should only contain those charactors: {{question.validator.pattern}}
                </div>
            </div>
        </div>

        <div *ngSwitchCase="'dropdown'">
            <div *ngIf="!question?.multiple">
                <md-radio-group [formControlName]="question.key" class="single-select">
                    <md-radio-button class="select-item" *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</md-radio-button>
                </md-radio-group>
            </div>

            <div *ngIf="question?.multiple" class="multi-select" [formArrayName]="question.key">
                <md-checkbox class="select-item" *ngFor="let opt of question?.options; index as i" [formControlName]="i">
                    {{opt.value}}
                </md-checkbox>

                <div class="alert alert-danger">
                    <div *ngIf="getFormControl().hasError('maxSelect')">
                        select {{question.validator?.maxSelect}} items at most
                    </div>
                    <div *ngIf="getFormControl().hasError('minSelect') && !getFormControl().pristine">
                        select {{question.validator.minSelect}} items at least
                    </div>
                </div>

                
            </div>

            <div class="alter alter-danger" *ngIf="getErrors()">
                <div *ngIf="getErrors()?.required && !getFormControl().pristine">
                    {{question?.title}} is required
                </div>
            </div>

        </div>

        <div *ngSwitchCase="'slider'">
            <md-slider class="question-slider question-item" thumbLabel tickInterval="auto"
                       [min]="question.validator?.min" [max]="question.validator?.max" step="auto"
                       [value]="question.value" #slider [formControlName]="question.key">
            </md-slider>
            <label>value: {{slider.value}}</label>
        </div>

    </div>

</div>
