.form-title {
    font-size: 30px;
    padding-left: 30%;
    padding-right: 20%;
}

.form-desc {
    font-style: normal;
    font-size: 20px;
    padding-right: 5%;
}


.form-content {
    padding-left: 10%;
    padding-right: 10%;
}
