<div align="center">
    <form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
        <md-toolbar color="warn" align="center" class="question-header">
            <p class="header-title">{{formObject.title}}</p>
        </md-toolbar>
        <p class="header-desc">{{formObject.desc}}</p>

        <div *ngFor="let question of formObject.formItems" class="form-row">
            <app-question-view [question]="question" [form]="formGroup"></app-question-view>
        </div>

        <div class="form-row">
            <button md-raised-button color="primary" type="submit" [disabled]="formGroup.invalid || !formObject.isPublished">Submit</button>
            <button md-raised-button color="accent" type="button" (click)="save()" [disabled]="formGroup.pristine || !formObject.isPublished">Save</button>
            <button md-raised-button color="warn" type="reset" [disabled]="formGroup.untouched">Reset</button>
        </div>
        
    </form>

</div>
