<div>
    <mat-list>
        <h3 matSubheader>Submitted answers</h3>
        <mat-list-item *ngFor="let answer of submittedAnswers">
            <mat-icon mat-list-icon>label</mat-icon>
            <h3 matLine >answerId: {{answer.answerId}}</h3>

            <button mat-icon-button (click)="goDetail(answer)">
                <mat-icon matTooltip="see detail">loyalty</mat-icon>
            </button>
            
            <button mat-icon-button (click)="deleteAnswer(answer)">
                <mat-icon matTooltip="delete this answer">delete_sweep</mat-icon>
            </button>
        </mat-list-item>
        
        <mat-divider></mat-divider>
        
        <h3 matSubheader>UnSubmitted answers</h3>
        <mat-list-item *ngFor="let ua of unSubmittedAnswers">
            <mat-icon mat-list-icon>label_outline</mat-icon>
            <h3 matLine >answerId: {{ua.answerId}}</h3>
    
            <button mat-icon-button (click)="goDetail(ua)">
                <mat-icon matTooltip="see detail">loyalty</mat-icon>
            </button>
    
            <button mat-icon-button (click)="deleteAnswer(ua)">
                <mat-icon matTooltip="delete this answer">delete_sweep</mat-icon>
            </button>
        </mat-list-item>
    </mat-list>
</div>
