<md-toolbar align="center"   color="warn">
    <md-icon>assignment</md-icon>
    <span align="center">    Users</span>
</md-toolbar>

<button md-button (click)="gotoDetail()">
    <md-icon>dehaze</md-icon>
    Details
</button>

<button md-button (click)="gotoEdit()">
    <md-icon>edit</md-icon>
    Edit
</button>

<button md-button (click)="deleteUser(user.userId)">
    <md-icon>delete</md-icon>
    Delete
</button>


<ul class="users">
    <li *ngFor="let user of users" (click)="onSelect(user)"
        [class.selected]="user === selectedUser" >
        <span class="badge">{{user.userId}}</span>
        <span>{{user.userName}}</span>
    </li>
</ul>


