<div class="userList" align="center">
    <h2>Registered Users</h2>
    <div class="searchBar" align="right">
        <md-input-container>
            <input mdInput #searchBox (keyup)="search(searchBox.value)" placeholder="Search" >
        </md-input-container>
    </div>
    <div class="users" align="left">
        <md-list class="users">
            <md-list-item *ngFor="let user of users">
                <md-icon md-list-icon>face</md-icon>
                <h3 md-line>{{user.userId}}  {{user.userName}}</h3>
                
                <div align="right">
                    <button md-icon-button [mdMenuTriggerFor]="menu"><md-icon>more_vert</md-icon></button>
                    <md-menu #menu="mdMenu">
                        <button md-menu-item color="accent" (click)="gotoDetail(user.userId)">
                            <md-icon>edit</md-icon>
                            edit
                        </button>
                        <button md-menu-item color="warn" (click)="deleteUser(user.userId)">
                            <md-icon>delete</md-icon>
                            delete
                        </button>
                    </md-menu>
                </div>
            </md-list-item>
        </md-list>
    </div>

</div>
