.alert {
    border-radius: 2px;
    padding: 15px;
}

.alert-danger {
    font-size: 13px;
    color: #c7254e;
    background: #f9f2f4;
//    margin: -26px 0 15px;
}

.alert-success {
    font-size: 13px;
    color: midnightblue;
    background: whitesmoke;
}
