.alter {
    font-size: 13px;
    color: #c7254e;
    background: #f9f2f4;
    border-radius: 3px;
    padding: 15px;
    margin: -26px 0 15px
}

.question-desc {
    font-size: 16px;
    color: brown;
}

.question-item {
    width: 60%;
}

.question-select {
    width: inherit;
}

.question-slider {
    width: 50%;
}

.multi-select {
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    height: auto;
}

.single-select {
    display: inline-flex;
    flex-direction: column;
}

.radio-button {
    margin: 5px;
}
