<div *ngIf="user">
    <md-toolbar align="center"   color="warn">
        <md-icon>edit</md-icon>
        <span align="center">Edit User</span>
    </md-toolbar>
    <div>
        <span class="badge">Name    </span>
        <input [(ngModel)]="user.userName" placeholder="userName" />
    </div>

    <div>
        <span class="badge">Password    </span>
        <input [(ngModel)]="user.userPassword" />
    </div>

    <div>
        <span class="badge">Email    </span>
        <input [(ngModel)]="user.userEmail" />
    </div>
    <div>
        <span class="badge">Phone    </span>
        <input [(ngModel)]="user.userPhone" />
    </div>

    <button (click)="save()" >Save</button>
    <button (click)="goBack()">Back</button>
</div>
