<div align="center">
    <mat-toolbar  >
        <mat-icon>edit</mat-icon>
        <span align="center">Change Your Password </span>
    </mat-toolbar>
    <form [formGroup]="registerForm" (ngSubmit)="save()">
        
        <div>
            <mat-form-field>
                <input matInput formControlName="userPassword"
                       type="password" class="form-control"  placeholder="Input your new password" required/>
            </mat-form-field>
            
            <div class="alter alter-warn"
                 *ngIf="registerForm.get('userPassword').errors && !registerForm.get('userPassword').pristine">
                <div *ngIf="registerForm.get('userPassword').hasError('required')">
                    password required
                </div>
                <div *ngIf="registerForm.get('userPassword').hasError('minlength')">
                    password no less than 8 bytes
                </div>
                <div *ngIf="registerForm.get('userPassword').hasError('maxlength')">
                    password no more than 64 bytes
                </div>
            </div>
        </div>
        
        <div>
            <mat-form-field>
                <input matInput formControlName="userPasswordRepeat"
                       type="password" class="form-control"  placeholder="Please repeat your paasword" ><br>
            </mat-form-field>
            
            <div class="alter alter-warn"
                 *ngIf="registerForm.get('userPasswordRepeat').hasError('required') &&
                 !registerForm.get('userPasswordRepeat').pristine">
                please repeat your password
            </div>
            <div class="alter alter-warn"
                 *ngIf="registerForm.hasError('mismatch')">
                password not match
            </div>
        </div>
        
        
        <div style="float:center" >
            
            <button mat-raised-button color="primary" type="submit" class="btn btn-success"
                    [disabled]="registerForm.invalid" (click)="save()" >
                <mat-icon>save</mat-icon>
                Save
            </button>
            
            <button mat-button (click)="goBack()">
                <mat-icon>home</mat-icon>
                Back to Home
            </button>
        
        </div>
    </form>
</div>
