@import '~@angular/material/theming';

@mixin candy-carousel-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);

    .candy-carousel {
        background-color: mat-color($primary);
        border-color: mat-color($accent, A400);
    }
}

.example-question {
    display: inline-flex;
    flex-direction: column;
}

.example-radio {
    margin: 5px;
}

.example-card-title {
    font-size: 25px;
}

.example-input {
    color: mediumspringgreen;
}

.example-select {
    width: auto;
}

.example-slide {
}
