.alert {
    font-size: 13px;
    color: #c7254e;
    background: #f9f2f4;
    border-radius: 3px;
    padding: 15px;
    margin: -26px 0 15px;
}

.go-edit-button {
    position: absolute;
    right: 0;
}

.form-actions {
    border-radius: 20px;
    margin: 20px;
    text-align: center;
}
