<div *ngIf="answer && form" class="answer-detail">
    <mat-toolbar>
        <button mat-icon-button (click)="goBack()">
            <mat-icon matTooltip="go back">arrow_back</mat-icon>
        </button>
        
        <div class="actions">
            <button mat-icon-button color="primary" (click)="changeAnswer()" class="button"
                    [disabled]="isSubmitted()">
                <mat-icon matTooltip="edit the answer">mode_edit</mat-icon>
            </button>
            
            <button mat-icon-button color="warn" (click)="deleteAnswer()" class="button">
                <mat-icon matTooltip="delete the answer">delete</mat-icon>
            </button>
        </div>
    </mat-toolbar>
    
    <app-answer-view [answer]="answer" [form]="form"></app-answer-view>
</div>