<h2 md-dialog-title class="title">form settings</h2>
<md-dialog-content>
    <div class="setting-button">
        <md-slide-toggle color="accent" [(ngModel)]="settings.shareResult">share results</md-slide-toggle>
        <md-slide-toggle color="warn" [(ngModel)]="settings.shuffleOrder">shuffle order</md-slide-toggle>
    </div>
</md-dialog-content>

<md-dialog-actions class="action-button">
    <button md-raised-button color="primary" (click)="confirm()">
        OK
    </button>
    
    <button md-button (click)="cancel()">
        Cancel
    </button>
</md-dialog-actions>
