<div align="center">
    <form class="login-form">
        <md-input-container>
            <input mdInput class="login-input" placeholder="username" type="text" #userName required>
        </md-input-container><br>

        <md-input-container>
            <input mdInput class="login-input" placeholder="password" type="password" #userPassword required>
        </md-input-container><br>

        <div>
            <button md-raised-button color="primary" (click)="login(userName.value, userPassword.value)">
                login
            </button>
            <a routerLink="/register" color="accent" md-button>register</a>
        </div>
    </form>
</div>
