.login-form {
    width: auto;
}

.login-input {
    width: auto;
}

.alter {
    font-size: 13px;
    color: #c7254e;
    background: #f9f2f4;
    border-radius: 3px;
    padding: 15px;
    margin: -26px 0 15px;
}