<div *ngIf="user" align="center" [hidden]="currentUser">
    <form class="login-form" novalidate
          #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
        <h3>Please input your original password</h3>
        <div>
            <md-input-container>
                <input mdInput class="original-password" placeholder="original password" type="password"
                       #userPassword="ngModel" name="userPassword" ngModel required>
            </md-input-container>
        </div>

        <div>
            <button md-raised-button color="primary"
                    [disabled]="!loginForm.form.valid">
                change password
            </button>

            <button md-button (click)="goBack()">
                <md-icon>home</md-icon>
                Back to Home
            </button>

        </div>
    </form>
</div>\



<div *ngIf="currentUser" align="center">
    you are logined in as {{currentUser.userName}}
</div>
