<div align="center">
    <form class="login-form" novalidate
          #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
        <h3>Please input your original password</h3>
        <div>
            <mat-form-field>
                <input matInput class="original-password" placeholder="original password" type="password"
                       #userPassword="ngModel" name="password" ngModel required>
            </mat-form-field>
        </div>

        <div>
            <button mat-raised-button color="primary"
                    [disabled]="!loginForm.form.valid">
                change password
            </button>

            <button mat-button (click)="goBack()">
                <mat-icon>home</mat-icon>
                Back to Home
            </button>

        </div>
    </form>
</div>\


