<div class="fab-add-button">
    <button mat-fab color="warn" (click)="add()" class="main-fab-icon">
        <mat-icon>add</mat-icon>
    </button>
</div>
<mat-list>
    <h3 matSubheader>Forms</h3>
    <mat-slide-toggle [disabled]="currentUser?.role !== 'admin'"
        (change)="updateList($event)" [checked]="onlyMe">
        only forms created by me
    </mat-slide-toggle>

    <mat-list-item *ngFor="let form of formList">
        <mat-icon mat-list-icon>branding_watermark</mat-icon>
        <h2 matLine>{{form.title}}</h2>
        <p class="form-desc form-desc-n" *ngIf="form.isPublished" matLine>published</p>
        <p class="form-desc form-desc-x" *ngIf="!form.isPublished" matLine>not published</p>

        <button mat-icon-button color="primary" (click)="edit(form)" >
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="preview(form.formId)">
            <mat-icon>visibility</mat-icon>
        </button>
        <button mat-icon-button (click)="stats(form.formId)">
            <mat-icon>info</mat-icon>
        </button>

        <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>

        <mat-menu #menu="matMenu">

            <button mat-menu-item color="primary" (click)="publish(form)" [disabled]="form.isPublished">
                <mat-icon>publish</mat-icon>
                publish
            </button>

            <button mat-menu-item color="warn" (click)="deleteForm(form.formId)">
                <mat-icon>delete</mat-icon>
                delete
            </button>
        </mat-menu>
    </mat-list-item>
</mat-list>
