.question-title {
    text-align: left;
    font-size: 20px;
    padding-left: 5%;
}

.question-desc {
    font-size: 14px;
    padding-left: 5%;
}

.question-body {
    padding-left: 10%;
}

.unselected {
    color: #000;
}

.selected {
    color: red;
}