<md-toolbar align="center"   color="warn">
    <md-icon>assignment</md-icon>
    <span align="center">    My Forms</span>
</md-toolbar>
<button md-button (click)="sidebar.toggle()">
    <md-icon>dehaze</md-icon>
    Create New Form
</button>
<button md-button (click)="sidebar.toggle()">
    <md-icon>dehaze</md-icon>
    Edit
</button>
<button md-button (click)="sidebar.toggle()">
    <md-icon>dehaze</md-icon>
    Get Result
</button>
<button md-button (click)="sidebar.toggle()">
    <md-icon>dehaze</md-icon>
    Delete
</button>


<div class="example-container mat-elevation-z8">
    <md-table #table [dataSource]="dataSource">
        <li *ngFor="let user of displayedColumns " (click)="onSelect(user)"
            [class.selected]="user === selectedUser" >
            <span class="badge">{{user.userId}}</span>
            <span>{{user.userName}}</span>
            <button md-raised-button color="primary" class="example-button" (click)="gotoDetail()">detail</button>
            <button md-button class="delete-button" color="warn" (click)="deleteUser(user.userId)" >delete</button>
        </li>
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- ID Column -->
        <ng-container cdkColumnDef="QuestionnaireId">
            <md-header-cell *cdkHeaderCellDef> ID </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.id}} </md-cell>
        </ng-container>

        <!-- Progress Column -->
        <ng-container cdkColumnDef="QuestionnaireName">
            <md-header-cell *cdkHeaderCellDef> Title </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.name}}</md-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container cdkColumnDef="CreatData">
            <md-header-cell *cdkHeaderCellDef> CreatData </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.CreatData}} </md-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container cdkColumnDef="Account">
            <md-header-cell *cdkHeaderCellDef>Account</md-header-cell>
            <md-cell *cdkCellDef="let row" > {{row.Account}} </md-cell>
        </ng-container>

        <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
    </md-table>
</div>
