<mat-toolbar align="center"   >
    <mat-icon>assignment</mat-icon>
    <span align="center"> Users</span>
</mat-toolbar>


<ul class="users">
    <li *ngFor="let user of users" (click)="onSelect(user)"
        [class.selected]="user === selectedUser" >
        <div>
            <div style="float:left" >
                <span class="badge">{{user.userId}}</span>
                <span>{{user.userName}}</span>
            </div>

            <div align="right" >
                <button mat-button (click)="gotoDetail(user.userId)">
                    <mat-icon>dehaze</mat-icon>
                    Details
                </button>

                <button mat-button (click)="gotoEdit(user.userId)">
                    <mat-icon>edit</mat-icon>
                    Edit
                </button>

                <button mat-button (click)="deleteUser(user.userId)">
                    <mat-icon>delete</mat-icon>
                    Delete
                </button>
            </div>


        </div>


    </li>
</ul>


