li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: aliceblue;
    margin: .5em;
    padding:.3em 0;
    height: 1.6em;
    border-radius: 4px;
}

li:hover {
    color: aqua;
    background-color: transparent;
    left: .1em;
}

.badge  {
    text-align: center;
    width:1cm;
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 0.6cm;
    margin-right: .8em;
    border-radius: 4px 4px 4px 4px;
}

ul {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
}

.example-card {
    width: 50%;
}
