
<ul *ngIf="user" >
    <div >
        <md-toolbar   >

            <md-icon>assignment</md-icon>
            <span >Details of User</span>


        </md-toolbar>
    </div>


    <div>
        <li *ngIf="user">
            <span class="badge">ID    </span>
            <span class="userid">{{user.userId}}</span>

        </li>
    </div>


    <div>
        <li *ngIf="user">
            <span class="badge" badge-positive>Name</span>
            <span class="userid">{{user.userName}}</span>

        </li>
    </div>


    <div>
        <li *ngIf="user">
            <span class="badge">Password</span>
            <span class="userid">{{user.userPassword}}</span>

        </li>
    </div>


    <div>
        <li *ngIf="user">
            <span class="badge">Email</span>
            <span class="userid">{{user.userEmail}}</span>
        </li>
    </div>


    <div>
        <li *ngIf="user">
            <span class="badge">Phone</span>
            <span class="userid ">{{user.userPhone}}</span>
        </li>
    </div>

    <div>
        <li *ngIf="user">
            <span class="badge">Credit</span>
            <span class="userid ">{{user.userCredit}}</span>
        </li>
    </div>

</ul>
<div align="center">
    <button md-button (click)="goBack()">
        <md-icon>arrow_back</md-icon>
        Back
    </button>
</div>
