.title {
    text-align: center;
    display: flex;
    padding-left: 20%;
    padding-right: 20%;
}

button {
    color: black;
    margin-top: 20px;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
}

li:hover {
    color: aqua;
    background-color: transparent;
    left: .1em;
}


.badge  {
    text-align: center;
    width:1.4cm;
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 100%;
    position: relative;
    left: 1px;
    top: 0px;
    height: 0.6cm;
    margin: .1cm;
    border-radius: 4px 4px 4px 4px;
}

ul {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
}

.example-card {
    width: 50%;
}
