<div *ngIf="user" align="center">
    <md-card class="userCard">
        <md-card-header>
            <h2>Detail of User</h2>
        </md-card-header>
        
        <md-card-content>
            <div>
                <md-input-container class="userEdit">
                    <input mdInput [(ngModel)]="user.userName" placeholder="username" />
                </md-input-container>
            </div>
            <div>
                <md-input-container class="userEdit">
                    <input mdInput [(ngModel)]="user.userPassword" placeholder="password" />
                </md-input-container>
            </div>
            <div>
                <md-input-container class="userEdit">
                    <input mdInput [(ngModel)]="user.userEmail" placeholder="email" />
                </md-input-container>
            </div>
            <div>
                <md-input-container class="userEdit">
                    <input mdInput [(ngModel)]="user.userPhone" placeholder="Phone" />
                </md-input-container>
            </div>
        </md-card-content>
        
        <md-card-actions>
            <button md-raised-button color="primary" (click)="save()" >Save</button>
            <button md-button (click)="goBack()">Back</button>
        </md-card-actions>
    </md-card>
</div>