<div align="center">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
        
        <div *ngFor="let question of questions" class="form-row">
            <dynamic-question [question]="question" [form]="form"></dynamic-question>
        </div>
        
        <div class="form-row">
            <button md-raised-button color="primary" type="submit" [disabled]="form.invalid">Save</button>
            <button md-raised-button color="accent" type="reset" [disabled]="form.untouched">Reset</button>
        </div>
    </form>
    
    <div *ngIf="payLoad" class="form-row">
        <strong>Saved the following values</strong><br>{{payLoad}}
    </div>
