<div class="user-header" >
    <button *ngIf="!currentUser"
            md-button routerLink="/login" color="accent" routerLinkActive="active">
        <md-icon>person</md-icon>
        Login
    </button>
    
    <button *ngIf="currentUser"
            md-icon-button [mdMenuTriggerFor]="profileMenu">
        <md-icon>person</md-icon>
    </button>
    
    <md-menu #profileMenu >
        <button md-menu-item (click)="edit()">Edit profile</button>
        <button md-menu-item (click)="logout()" >logout</button>
    </md-menu>
</div>
