<md-toolbar color="primary">
    <md-nav-list>
        <button md-button routerLink="/home" routerLinkActive="active">
            <md-icon>home</md-icon>
            Home
        </button>
        <button md-button color="" routerLink="/prototype" routerLinkActive="active">
            <md-icon>stars</md-icon>
            Prototype
        </button>
        
        <button md-button color="" routerLink="/question/list" routerLinkActive="active">
            <md-icon>cloud</md-icon>
            Questions
        </button>
        
        <button *ngIf="currentUser?.role === 'admin'" md-button routerLink="/user/list" routerLinkActive="active">
            <md-icon>people</md-icon>
            Users
        </button>
    </md-nav-list>
    
    <div class="user-header" >
        <button *ngIf="!currentUser"
                md-button routerLink="/login" color="accent" routerLinkActive="active">
            <md-icon>person</md-icon>
            Login
        </button>
        
        <button *ngIf="currentUser"
                md-icon-button [mdMenuTriggerFor]="profileMenu">
            <md-icon>person</md-icon>
        </button>
        
        <md-menu #profileMenu >
            <button md-menu-item (click)="edit()">Edit profile</button>
            <button md-menu-item (click)="logout()" >logout</button>
        </md-menu>
    </div>
</md-toolbar>
