<mat-toolbar color="primary">
    <mat-nav-list>
        <button mat-button routerLink="/home" routerLinkActive="active">
            <mat-icon>home</mat-icon>
            Home
        </button>

        <button mat-button color="" routerLink="/question/list" routerLinkActive="active">
            <mat-icon>cloud</mat-icon>
            Questions
        </button>

        <button mat-button routerLink="/answer/list" routerLinkActive="active">
            <mat-icon>
                question_answer
            </mat-icon>
            answers
        </button>

        <button *ngIf="currentUser?.role === 'admin'" mat-button routerLink="/user/list" routerLinkActive="active">
            <mat-icon>people</mat-icon>
            Users
        </button>
    </mat-nav-list>

    <div class="user-header" >
        <button *ngIf="!currentUser"
            mat-button routerLink="/login" color="accent" routerLinkActive="active">
            <mat-icon>person</mat-icon>
            Login
        </button>

        <button *ngIf="currentUser"
            mat-icon-button [matMenuTriggerFor]="profileMenu">
            <mat-icon>person</mat-icon>
        </button>

        <mat-menu #profileMenu >
            <button mat-menu-item (click)="edit()">Profile</button>
            <button mat-menu-item (click)="changepassword()">change password</button>
            <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
    </div>
</mat-toolbar>
