<div align="center">
    <form class="login-form" novalidate
          #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
        <div>
            <md-input-container>
                <input mdInput class="login-input" placeholder="username" type="text"
                       #userName="ngModel" name="userName" ngModel required>
            </md-input-container>
            <div class="alter alter-warn"
                    [hidden]="userName.valid || userName.pristine">
                Oops, username can not be empty.
            </div>
        </div>

        <div>
            <md-input-container>
                <input mdInput class="login-input" placeholder="password" type="password"
                       #userPassword="ngModel" name="userPassword" ngModel required>
            </md-input-container>
            <div class="alter alter-warn"
                    [hidden]="userPassword.valid || userPassword.pristine">
                Oops, password can not be empty.
            </div>
        </div>

        <div>
            <button md-raised-button color="primary"
                    [disabled]="!loginForm.form.valid">
                login
            </button>
            <button md-raised-button routerLink="/register" color="accent">register</button>
        </div>
    </form>
</div>

